*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    font-family: "Poppins", sans-serif;
}
 h1, h3{
     text-align: center;
     margin: 2rem;
 }
.grid {
    display:flex;
    flex-wrap: wrap ;
    height:450px;
    width: 600px;
    gap:0;

   
    
}

.board{
    height: 150px;
    width: 150px;
    border: 2px black solid;
}